BBox.Analysis/BBox.Analysis.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="" elementFormDefault="qualified" targetNamespace="" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="fileDirectoryConfiguration" type="tns:BBox.Analysis.Configuration.FileDirectoryConfigurationCT" />
	<xs:complexType name="BBox.Analysis.Configuration.FileDirectoryConfigurationCT">
		<xs:attribute name="inFileDirectory" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InFileDirectory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="outFileDirectory" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OutFileDirectory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
