GasStationReports.FileManager/GasStationReports.FileManager.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:GasStationReports.FileManager.Configuration" elementFormDefault="qualified" targetNamespace="urn:GasStationReports.FileManager.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="fileManagerConfiguration" type="tns:GasStationReports.FileManager.Configuration.FileManagerConfigurationCT" />
	<xs:complexType name="GasStationReports.FileManager.Configuration.FileManagerConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="inputDirectories" type="tns:GasStationReports.FileManager.Configuration.InputDirectoryCollectionCT">
				<xs:annotation>
					<xs:documentation>The InputDirectories.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="removeFiles" type="tns:GasStationReports.FileManager.Configuration.RemoveFileCollectionCT">
				<xs:annotation>
					<xs:documentation>The RemoveFiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="archiveFilePattern" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The ArchiveFilePattern.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="outputDirectory" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The OutputDirectory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="replacementTextTemplates" type="tns:GasStationReports.FileManager.Configuration.ReplacementTemplateCollectionCT">
				<xs:annotation>
					<xs:documentation>The ReplacementTextTemplates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="afterExecuteApplications" type="tns:GasStationReports.FileManager.Configuration.ApplicationCollectionsCT">
				<xs:annotation>
					<xs:documentation>The AfterExecuteApplications.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.InputDirectoryCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="inputDirectory" type="tns:GasStationReports.FileManager.Configuration.InputDirectoryElementCT">
				<xs:annotation>
					<xs:documentation>The InputDirectoryElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="baseDirectory" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseDirectory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.InputDirectoryElementCT">
		<xs:attribute name="directory" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Directory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.RemoveFileCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="removeFile" type="tns:GasStationReports.FileManager.Configuration.RemoveFileCT">
				<xs:annotation>
					<xs:documentation>The RemoveFile Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.RemoveFileCT">
		<xs:attribute name="fillePattern" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FillePattern.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.StringElementCT">
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.ReplacementTemplateCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="replacementTemplateElement" type="tns:GasStationReports.FileManager.Configuration.ReplacementTemplateElementCT">
				<xs:annotation>
					<xs:documentation>The ReplacementTemplateElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.ReplacementTemplateElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="searchPattern" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The SearchPattern.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="replacementPattern" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The ReplacementPattern.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="templateDescription" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The TemplateDescription.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="index" type="tns:GasStationReports.FileManager.Configuration.IndexCT">
				<xs:annotation>
					<xs:documentation>The Index.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.IndexCT">
		<xs:attribute name="ind" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Ind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.ApplicationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="fileName" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The FileName.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="arguments" type="tns:GasStationReports.FileManager.Configuration.ArgumentCollectionCT">
				<xs:annotation>
					<xs:documentation>The Arguments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.ArgumentCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="argument" type="tns:GasStationReports.FileManager.Configuration.StringElementCT">
				<xs:annotation>
					<xs:documentation>The StringElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GasStationReports.FileManager.Configuration.ApplicationCollectionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="application" type="tns:GasStationReports.FileManager.Configuration.ApplicationElementCT">
				<xs:annotation>
					<xs:documentation>The ApplicationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
